<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324378386655-95klr4rmmng9inl8gnqlr9pl2s79q2h4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324378386655-95klr4rmmng9inl8gnqlr9pl2s79q2h4</string>
	<key>API_KEY</key>
	<string>AIzaSyDwPysPnIPnJYPCtYbpg4bzOduJdRA6rLo</string>
	<key>GCM_SENDER_ID</key>
	<string>324378386655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vitAp</string>
	<key>PROJECT_ID</key>
	<string>vitap-5ff25</string>
	<key>STORAGE_BUCKET</key>
	<string>vitap-5ff25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324378386655:ios:b4fa6516c440ddfd5a096a</string>
</dict>
</plist>